@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

body{
 background:#07070b;
 color:white;
 font-family:'Orbitron', sans-serif;
}

button{
 background:#111;
 border:1px solid #ffcc00;
 color:#ffcc00;
 padding:12px 20px;
 border-radius:8px;
 box-shadow:0 0 10px #ffcc00;
 transition:0.3s;
 cursor:pointer;
}

button:hover{
 background:#ffcc00;
 color:black;
 box-shadow:0 0 20px #ffcc00;
}

.panel{
 background:#111420;
 border:1px solid #2a2f45;
 border-radius:10px;
 padding:20px;
 box-shadow:0 0 10px rgba(255,200,0,0.2);
}
